<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 alert mb-3" role="alert">
      This is the dashboard for students where a students can enroll in courses and view their progress. Also can get ceritificate after completing a course.
    <div class="col-3"></div>
  </div>
  
    
  <div class="row">
    <!-- Display available courses here -->
    <div class="col-4" *ngFor="let course of availableCourses">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ course.title }}</h5>
          <p class="card-text">{{ course.description }}</p>
          <button class="btn-custom m-5" (click)="enroll(course)">Enroll</button>
        </div>
      </div>
    </div>
  </div>
</div>

    
</div>
  