.accordion {
    width: 300px;
}

.alert {
    background-color: #f1a8b5;
    color: #9a1750;
}

.offcanvas-title {
    color: #9a1750;
}

.card {
    background: #9a1750;
    background-image: -webkit-linear-gradient(top, #9a1750, #ee4c7c);
    background-image: -moz-linear-gradient(top, #9a1750, #ee4c7c);
    background-image: -ms-linear-gradient(top, #9a1750, #ee4c7c);
    background-image: -o-linear-gradient(top, #9a1750, #ee4c7c);
    background-image: linear-gradient(to bottom, #9a1750, #ee4c7c);    
    color: #252323;
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
}

.card-body {
    background-color: white;
}

.btn-link {
    color: white;
    font-weight: 600;
    text-decoration: none!important;
}

.btn-link:active {
    color: white!important;
}
  
  .btn-icon .icon {
    font-size: 60px; /* adjust the size as needed */
    margin: auto; /* adjust the spacing between the text and the icon as needed */
  }
  