<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="../../assets/sign_girl.gif" alt="girl">
    </div>
    <div class="col-6">
      <div class="container box">
        <h2 class="text-center">Forget Password?</h2>
        <br>
        <form>
          <div class="form-group">
            <label>Enter email:</label>
            <input type="mail" class="form-control" name="submitted_mail" [(ngModel)]="submitted_mail">
          </div>
        </form>
        <button class="btn-reg" (click)="startForgetPasswordProcess()">Submit</button> 
      </div>
    </div>
    <div class="col-3">
      <img src="../../assets/Light Grey Simple Illustrated International Day Of Sign Language Instagram Story.gif" alt="girl">
    </div>
  </div>
</div>