<div class="container-fluid">
  <div class="row">
    <div class="col-7 pt-5 text-center">
      <img src="../../assets/heading-2.png" alt="head" id="head">
      <br>
      <h1><span class="typing"></span></h1>
      <br><br>
      <h5 class="px-5">Bangla Sign Quest assists deaf and mute individuals in learning Bangla sign language through interactive video tutorials and activity recognition technology evaluation.</h5>
      <br><br><br>
      <a routerLink="/login" class="btn-custom m-5">Get Started</a>
      <!-- <a routerLink="/videos" class="btn-custom m-5">Courses</a> -->
      <br><br><br>
      <!-- <a routerLink="/login" class="btn-custom mt-5">Become a Tutor!</a> -->
    </div>
    <div class="col-5">
      <img src="../../assets/sign-photo.jpg" alt="">
    </div>
  </div>
</div>